/* Fix user-agent */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }
  
  html {
    font-size: 12px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  html, input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
    word-wrap: break-word;
  }
  
  /* Pages */
  
  .pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(../img/bike.jpg) no-repeat center center
  }
  
  .page {
    height: 100%;
    width: 100%;
  }
  
  /* Login Page */
  
  .login.page {
    background-color: #000;
  }
  
  .login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
  
    text-align: center;
    top: 50%;
    width: 100%;
  }
  
  .login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
  
  .login.page .title {
    font-size: 200%;
  }
  
  .login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
  }
  
  .login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
  }
  


  
  /* Font */
  
  .messages {
    font-size: 150%;
  }
  
  .inputMessage {
    font-size: 100%;
  }
  
  .log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
  }
  
  /* Messages */
  
  .chatArea {
    height: calc(100% - 92px);
    /* padding-bottom: 60px; */
  }
  
  .messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
  }
  
  .message.typing .messageBody {
    color: gray;
  }
  
  .username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
  }
  
  /* Input */

  .inputModle{
    display: flex;
    flex-direction: row;
    bottom: 5px;
    position: absolute;
    width: 100%;
  }
  
  .inputMessage {
    height: 33px;
    left: 0;
    outline: none;
    width: 79%;
    margin: 0 5px 0 5px;
    border-radius: 8px;
    border: none;
  }

  .chat .chatHead .ant-radio-group{
    width: 100%;
    color: gray;
  }

  .chat .chatHead .ant-radio-group .ant-radio-button-wrapper:not(:first-child)::before{
    display: none
  }

  .chat .chatHead .ant-radio-group .back{
    width: 20%;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  
  .chat .chatHead .ant-radio-group .middle{
    width: 60%;
    border-right: none;
    text-align: center;
  }

  
  .chat .chatHead .ant-radio-group .more{
    width: 20%;
    text-align: center;
    border-radius: 0 4px 4px 0;    
  }


  .chat .chatHead .ant-radio-group .ant-radio-button-wrapper-checked{
    background: #fff;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    box-shadow: none;
    color: gray;        
  }

  .chat .chatHead .ant-radio-group .ant-radio-button-wrapper-checked:hover{
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    color: gray;
    box-shadow: none;
  }

  .chat .chatHead .ant-radio-group .ant-radio-button-wrapper-checked:active{
    box-shadow: none;
  }

  

  